@import "./template.css";

:root {
    --box-height: 2vmax;
    --box-height-mobile: 4vmax;
    --box-padding: 1vmin;
}

#ttl {
    font-size: 320%;
    text-align: center;
    color: var(--title-color);
}

.inpt {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.inpt > label {
    color: var(--subtitle-color);
}

.inpt-box {
    box-sizing: border-box;
    height: var(--box-height);
    aspect-ratio: 10/1;
    text-align: center;
    border: none;
    padding: var(--box-padding);
}

select {
    background-color: darkseagreen;
}

*:focus {
    outline: none;
}

#frm {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
}

#frm button {
    height: var(--box-height);
    border-radius: 0px;
    aspect-ratio: 2/1;
    border: none;
    padding: var(--box-padding);
    margin-top: 1vmin;
}

@media (max-aspect-ratio: 1/1) {
    #frm {
        flex-direction: column;
        align-items: center;
    }

    #frm button {
        height: var(--box-height-mobile);
    }

    #frm > * {
        margin: 1vmin;
    }

    .inpt-box {
        height: var(--box-height-mobile);
    }
}