* {
    /* Text is in hebrew, so i'd be logical to make the direction right to left */
    direction: rtl;
}

body {
    margin: 0%;
}

#hdr {
    text-align: center;
    line-height: 10px;
    padding: 10px;
}